* {
  margin: 0px;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../img/dark-grey.jpg') repeat;
}
.header {
  background-color: rgb(36, 36, 36);
  /* color: white; */
  border-bottom: 1px solid white;
  display: flex;
  /* width: 100vw; */
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 1040px;
  position: sticky;
  top: 0px;
}

#search {
  min-width: 30vw;
  height: 4vh;
  background-color: rgb(255, 255, 255);
  color: black;
}

#search-section {
  color: rgb(255, 255, 255);
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-bottom: 1px none;
  border-radius: 5px;
  align-self: flex-end;
}

#favorite-gif {
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  text-align: center;
  color: #82c91e;
}

#favoriteP {
  font-size: 30px;
  flex-direction: column;
}

.pictures {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/dark-grey.jpg');
  padding: 0px;
  min-height: 100vh;
  width: 1400px;
  min-width: 1040px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#buttons {
  background-color: rgb(36, 36, 36);
}
.buttons {
  margin: 4px;
  white-space: nowrap;
  border: 1px solid white;
  border-radius: 1000px;
  background-color: rgb(36, 36, 36);
  font-size: inherit;
  cursor: pointer;
  width: 4vw;
  height: 3vh;
  color: white;
}
.buttons:hover {
  background-color: rgb(112, 112, 112);
}

input {
  color: rgb(48, 48, 48);
}
.container-img-btn {
  /* position: -ms-page; */
}
.container-img:hover .like-button {
  opacity: 1;
  transition: opacity 1.2s ease;
  /* position: relative; */
}
.container-img img {
  width: 100%;
  height: auto;
}
.container-img .like-button {
  opacity: 0;
  position: sticky;
  top: 80%;
  font-size: 25px;
  /* background-color: transparent; */
  color: white;
  border-radius: 45%;
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
}
.container-img .like-button:hover {
  background-color: rgb(26, 26, 26);
}
.unlike-button {
  position: absolute;
  top: 1%;
  left: 90%;
}
#fileInput {
  display: none;
}
#title {
  height: 9vh;
  width: 15;
}
#img-title {
  height: 9vh;
  width: 11vw;
}
#rofl {
  height: 45px;
  width: 45px;
}
#button-search {
  width: 2vw;
  background-color: rgb(19, 19, 19);
}
#button-search:hover {
  background-color: rgb(112, 112, 112);
}

#image-button-search {
  color: white;
}

.unlike-button {
  color: white;
}

#remove {
  color: white;
  font-size: 40px;
}

#imgDetails {
  border: 1px solid white;
  color: white;
  padding: 25px;
  margin: auto;
  margin-top: 70px;
  margin-left: 360px;
}
/* 
/* #keyImg {
  font-size: 18px;
  font-weight: bold;
  margin: auto;
}
#valueImg {
  font-size: 14px;
  padding-left: 10px;
/* } */

div#allInfo {
  /* border: 1 solid white; */
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: auto;
  margin-top: 10px;
  color: white;
  /* display: block;  */
  /* width: 800px; */
  display: grid;
  column-gap: 10px;
}

.gifs-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  padding-top: 30px;
  margin: auto;
}

#infoGif {
  padding-left: 0px;
  margin-left: auto;
  /* font-size: larger; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* img.gif{ */
/* margin-right: 0px; */
/* border-right: 0.5px solid white; */
/* padding: 30px; */
/* padding-right: 0px */
/* } */

.categories {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
  min-width: 1040px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../img/dark-grey.jpg');
}

.categories button {
  margin: 12px;
  white-space: nowrap;
  border: 1px solid white;
  border-radius: 1000px;
  background-color: rgb(36, 36, 36);
  font-size: inherit;
  cursor: pointer;
  width: 6vw;
  height: 3vh;
  color: white;
}
.categories button:hover {
  background-color: rgb(112, 112, 112);
}

.container-img {
  width: fit-content;
  block-size: fit-content;
}
